---
title: A Thoughtful Coder
layout: default
---

<body>
  {% include darkmode.html %}
  <div id="link-copied">Link<br />Copied</div>
  <div id="site-main" class="main-home layout-two-column">
    <div class="layout-container-header">
      <header>
        <nav>
          <div class="brand-logo" onclick='document.location="/"'>
            <img src="/images/logo.png" alt="Logo" style="aspect-ratio: 1.16496" />
          </div>
          <div class="brand-title ellipsis">
            <a href="/" accesskey="h" title="Home (Alt + H)">{{page.title}}</a>
          </div>
          <div class="visible-when-right-menu-visible">
            <ul class="nav-menu-items">
              <li>
                <a href="/">All Articles</a>
              </li>
              <li>
                <a href="/alireza-bashiri/">Author</a>
              </li>
            </ul>
          </div>
          <label class="toggle" accesskey="t" title="Change Theme (Alt + T)" onclick="toggleTheme()">
            <span class="theme-button">
              <span class="light-mode-visible"
                ><svg class="moon" aria-labelledby="title" width="1200pt" height="1200pt" viewBox="0 0 1200 1200">
                  <title>Moon</title>
                  <path
                    d="m681.46 21.25c-111.93 79.34-184.18 208.27-184.18 354.19.0 239.43 192.68 432.11 432.11 432.11 90.672.0 175.68-28.336 245.1-76.504-59.504 257.85-290.44 451.95-566.71 451.95-323.02.0-583.71-262.1-583.71-583.71.0-351.36 310.27-621.96 657.38-578.04z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </span>
              <span class="dark-mode-visible"
                ><svg class="sun" viewBox="0 0 24 24" aria-labelledby="title" fill="#ffff80">
                  <title>Sun</title>
                  <path
                    shape-rendering="geometricPrecision"
                    d="m6.76 4.84-1.8-1.79-1.41 1.41 1.79 1.79 1.42-1.41zM4 10.5H1v2h3v-2zm9-9.95h-2V3.5h2V.55zm7.45 3.91-1.41-1.41-1.79 1.79 1.41 1.41 1.79-1.79zm-3.21 13.7 1.79 1.8 1.41-1.41-1.8-1.79-1.4 1.4zM20 10.5v2h3v-2h-3zm-8-5c-3.31.0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6zm-1 16.95h2V19.5h-2v2.95zm-7.45-3.91 1.41 1.41 1.79-1.8-1.41-1.41-1.79 1.8z"
                  ></path>
                </svg>
              </span>
            </span>
          </label>
          <label class="toggle hidden-when-right-menu-visible" accesskey="m" title="Open Menu (Alt + M)" aria-label="Mobile menu">
            <div class="menuToggle">
              <input class="ham" type="checkbox" id="nav-menu-checkbox" aria-label="Mobile menu" />
              <span class="ham"></span>
              <span class="ham"></span>
              <span class="ham"></span>
              <div class="nav-menu">
                <ul class="nav-menu-items">
                  <li>
                    <a href="/">All Articles</a>
                  </li>
                  <li>
                    <a href="/alireza-bashiri/">Author</a>
                  </li>
                </ul>
                <div id="nav-sidebar-duplicate-container">
                  <div class="social card">
                    <ul class="social-icons">
                      <li id="twitter">
                        <a href="https://twitter.com/intent/user?screen_name=al3rez" target="_blank" title="Twitter">
                          <picture>
                            <source
                              srcset="
                                https://longform.asmartbear.com/images/twitter-29w.webp 29w,
                                https://longform.asmartbear.com/images/twitter-58w.webp 58w,
                                https://longform.asmartbear.com/images/twitter-87w.webp 87w
                              "
                              sizes="1.8125rem"
                              type="image/webp"
                              media="screen"
                            />
                            <img src="/images/twitter-29w.png" alt="Twitter" style="width: 1.8125rem; height: 1.5rem" loading="lazy" decoding="async" />
                          </picture>
                        </a>
                      </li>
                      <li id="linkedin">
                        <a href="http://www.linkedin.com/comm/mynetwork/discovery-see-all?usecase=PEOPLE_FOLLOWS&amp;followMember=al3rez" target="_blank" title="LinkedIn">
                          <picture>
                            <source
                              srcset="
                                https://longform.asmartbear.com/images/linkedin-24w.webp 24w,
                                https://longform.asmartbear.com/images/linkedin-48w.webp 48w,
                                https://longform.asmartbear.com/images/linkedin-72w.webp 72w
                              "
                              sizes="1.5rem"
                              type="image/webp"
                              media="screen"
                            />
                            <img src="/images/linkedin-24w.png" alt="LinkedIn" style="width: 1.5rem; height: 1.5rem" loading="lazy" decoding="async" />
                          </picture>
                        </a>
                      </li>
                      <li id="threads">
                        <a href="https://www.threads.net/@al3rez" target="_blank" title="Threads">
                          <picture>
                            <source
                              srcset="
                                https://longform.asmartbear.com/images/threads-21w.webp 21w,
                                https://longform.asmartbear.com/images/threads-42w.webp 42w,
                                https://longform.asmartbear.com/images/threads-63w.webp 63w
                              "
                              sizes="1.3125rem"
                              type="image/webp"
                              media="screen"
                            />
                            <img src="/images/threads-21w.png" alt="Threads" class="dark-invert" style="width: 1.3125rem; height: 1.5rem" loading="lazy" decoding="async" />
                          </picture>
                        </a>
                      </li>
                      <li id="rss">
                        <a href="/index.xml" target="_blank" title="RSS">
                          <picture>
                            <source
                              srcset="
                                https://longform.asmartbear.com/images/rss-24w.webp 24w,
                                https://longform.asmartbear.com/images/rss-48w.webp 48w,
                                https://longform.asmartbear.com/images/rss-72w.webp 72w
                              "
                              sizes="1.5rem"
                              type="image/webp"
                              media="screen"
                            />
                            <img src="/images/rss-24w.png" alt="RSS" style="width: 1.5rem; height: 1.5rem" loading="lazy" decoding="async" />
                          </picture>
                        </a>
                      </li>
                      <li id="newsletter">
                        <a href="/subscribe/" target="_blank" title="Subscribe to articles">
                          <picture>
                            <source
                              srcset="
                                https://longform.asmartbear.com/images/newsletter-24w.webp 24w,
                                https://longform.asmartbear.com/images/newsletter-48w.webp 48w,
                                https://longform.asmartbear.com/images/newsletter-72w.webp 72w
                              "
                              sizes="1.5rem"
                              type="image/webp"
                              media="screen"
                            />
                            <img
                              src="/images/newsletter-24w.png"
                              alt="Subscribe to articles"
                              class="dark-invert"
                              style="width: 1.5rem; height: 1.5rem"
                              loading="lazy"
                              decoding="async"
                            />
                          </picture>
                        </a>
                      </li>
                    </ul>
                  </div>
                  {% include newsletter.html %}
                </div>
              </div>
              <div class="dim-everything-overlay"></div>
            </div>
          </label>
        </nav>
      </header>
      <a class="headerTab hidden-when-right-menu-visible" href="/subscribe/" target="_blank">Subscribe</a>
    </div>
    <div class="layout-container-top"></div>
    <div class="layout-container-left"></div>
    <div class="layout-container-content">
      <h1 class="">Welcome to {{page.title}}: Longform</h1>
      <p>
        <i>Articles from building SaaS over one and a half decades, both as a freelancer and indie hacker.</i>
      </p>

      <div class="search-area">
        <span class="sort">
          <span>Sort By:</span>
          <button id="by-weight" class="current" onclick="setSort(this)">Popularity</button>
          <button id="by-date" onclick="setSort(this)">Newest</button>
        </span>
        <span class="search"> 🔍<input id="search-input" placeholder="Search" aria-label="Search" maxlength="64" data-hotkeys="s/" /> </span>
      </div>
      <div id="no-results">No articles match the search string.</div>
      <ul class="page-list" id="page-list">
        {% for post in site.posts %}
        <li id="slug-problem" style="order: 1">
          <a href="{{post.url}}" aria-label="Read full article: {{post.title}}">
            <div class="featured-image">
              <picture class="diagram transparent figure wide tall dark-invert">
                <source
                  srcset="
                    https://longform.asmartbear.com/problem/thumbnail-1200w_hu959ef7dc51c83d24d3771e11fce8f8bc_412484_576x0_resize_q75_h3_mitchellnetravali_3.webp   576w,
                    https://longform.asmartbear.com/problem/thumbnail-1200w_hu959ef7dc51c83d24d3771e11fce8f8bc_412484_1152x0_resize_q75_h3_mitchellnetravali_3.webp 1152w,
                    https://longform.asmartbear.com/problem/thumbnail-1200w_hu959ef7dc51c83d24d3771e11fce8f8bc_412484_360x0_resize_q75_h3_mitchellnetravali_3.webp   360w,
                    https://longform.asmartbear.com/problem/thumbnail-1200w_hu959ef7dc51c83d24d3771e11fce8f8bc_412484_720x0_resize_q75_h3_mitchellnetravali_3.webp   720w
                  "
                  sizes="(min-width: 40.000rem) 22.500rem, 100vw"
                  type="image/webp"
                  media="screen"
                />
                <img
                  src="/problem/thumbnail-1200w.png"
                  style="width: 1200px; height: auto; max-width: 100%; aspect-ratio: 1.8987341772151898; background: 0 0"
                  loading="eager"
                  decoding="async"
                  alt="Hero image for Excuse me, is there a problem?"
                />
              </picture>
            </div>
            <div class="text-container">
              <div class="title">{{post.title}}</div>
              <div class="summary">
                {{post.excerpt}}
                <span class="date">—{{post.date | date: "%B %Y"}}</span>
                <span class="date">| {{post.content | number_of_words}} words.</span>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
      {% include search.html %}
    </div>
    <div class="layout-container-right">
      <div id="nav-sidebar-src-container" class="card-stack">
        <div class="social card card-no-sep">
          <ul class="social-icons">
            <li id="twitter">
              <a href="https://twitter.com/intent/user?screen_name=al3rez" target="_blank" title="Twitter">
                <picture>
                  <source
                    srcset="
                      https://longform.asmartbear.com/images/twitter-29w.webp 29w,
                      https://longform.asmartbear.com/images/twitter-58w.webp 58w,
                      https://longform.asmartbear.com/images/twitter-87w.webp 87w
                    "
                    sizes="1.8125rem"
                    type="image/webp"
                    media="screen"
                  />
                  <img src="/images/twitter-29w.png" alt="Twitter" style="width: 1.8125rem; height: 1.5rem" loading="lazy" decoding="async" />
                </picture>
              </a>
            </li>
            <li id="linkedin">
              <a href="http://www.linkedin.com/comm/mynetwork/discovery-see-all?usecase=PEOPLE_FOLLOWS&amp;followMember=al3rez" target="_blank" title="LinkedIn">
                <picture>
                  <source
                    srcset="
                      https://longform.asmartbear.com/images/linkedin-24w.webp 24w,
                      https://longform.asmartbear.com/images/linkedin-48w.webp 48w,
                      https://longform.asmartbear.com/images/linkedin-72w.webp 72w
                    "
                    sizes="1.5rem"
                    type="image/webp"
                    media="screen"
                  />
                  <img src="/images/linkedin-24w.png" alt="LinkedIn" style="width: 1.5rem; height: 1.5rem" loading="lazy" decoding="async" />
                </picture>
              </a>
            </li>
            <li id="threads">
              <a href="https://www.threads.net/@theasmartbear" target="_blank" title="Threads">
                <picture>
                  <source
                    srcset="
                      https://longform.asmartbear.com/images/threads-21w.webp 21w,
                      https://longform.asmartbear.com/images/threads-42w.webp 42w,
                      https://longform.asmartbear.com/images/threads-63w.webp 63w
                    "
                    sizes="1.3125rem"
                    type="image/webp"
                    media="screen"
                  />
                  <img src="/images/threads-21w.png" alt="Threads" class="dark-invert" style="width: 1.3125rem; height: 1.5rem" loading="lazy" decoding="async" />
                </picture>
              </a>
            </li>
            <li id="rss">
              <a href="/index.xml" target="_blank" title="RSS">
                <picture>
                  <source
                    srcset="
                      https://longform.asmartbear.com/images/rss-24w.webp 24w,
                      https://longform.asmartbear.com/images/rss-48w.webp 48w,
                      https://longform.asmartbear.com/images/rss-72w.webp 72w
                    "
                    sizes="1.5rem"
                    type="image/webp"
                    media="screen"
                  />
                  <img src="/images/rss-24w.png" alt="RSS" style="width: 1.5rem; height: 1.5rem" loading="lazy" decoding="async" />
                </picture>
              </a>
            </li>
            <li id="newsletter">
              <a href="/subscribe/" target="_blank" title="Subscribe to articles">
                <picture>
                  <source
                    srcset="
                      https://longform.asmartbear.com/images/newsletter-24w.webp 24w,
                      https://longform.asmartbear.com/images/newsletter-48w.webp 48w,
                      https://longform.asmartbear.com/images/newsletter-72w.webp 72w
                    "
                    sizes="1.5rem"
                    type="image/webp"
                    media="screen"
                  />
                  <img src="/images/newsletter-24w.png" alt="Subscribe to articles" class="dark-invert" style="width: 1.5rem; height: 1.5rem" loading="lazy" decoding="async" />
                </picture>
              </a>
            </li>
          </ul>
        </div>
        <div id="newsletter-signup-sidebar" class="newsletter-signup newsletter-signup-sidebar">
          <script>
            window.addEventListener("load", function () {
              let e = document.createElement("script");
              (e.type = "text/javascript"),
                (e.src = "https://f.convertkit.com/ckjs/ck.5.js"),
                e.setAttribute("async", ""),
                e.setAttribute("defer", ""),
                document.getElementsByTagName("head")[0].appendChild(e);
            });
          </script>
          <form
            action="https://app.convertkit.com/forms/6581832/subscriptions"
            class="seva-form formkit-form"
            method="post"
            data-sv-form="4832087"
            data-uid="337e1b31fa"
            data-format="inline"
            data-version="5"
            data-options='{"settings":{"after_subscribe":{"action":"redirect","success_message":"Success! Now check your email to confirm your subscription.","redirect_url":"https://longform.asmartbear.com/thank-you"},"analytics":{"google":null,"fathom":null,"facebook":null,"segment":null,"pinterest":null,"sparkloop":null,"googletagmanager":null},"modal":{"trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"powered_by":{"show":false,"url":"https://convertkit.com/features/forms?utm_campaign=poweredby&amp;utm_content=form&amp;utm_medium=referral&amp;utm_source=dynamic"},"recaptcha":{"enabled":false},"return_visitor":{"action":"hide","custom_content":""},"slide_in":{"display_in":"bottom_right","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"sticky_bar":{"display_in":"top","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15}},"version":"5"}'
            min-width="400 500 600 700 800"
          >
            <div class="formkit-background"></div>
            <div data-style="minimal">
              <div class="formkit-header" data-element="header">
                <h2><u>Don't miss the next article.</u><br /></h2>
              </div>
              <div class="formkit-subheader" data-element="subheader">
                <p>&ZeroWidthSpace;</p>
              </div>
              <ul class="formkit-alert formkit-alert-error" data-element="errors" data-group="alert"></ul>
              <div data-element="fields" data-stacked="false" class="seva-fields formkit-fields">
                <div class="formkit-field">
                  <input
                    class="formkit-input"
                    name="email_address"
                    aria-label="Email Address"
                    placeholder="Email Address"
                    required=""
                    type="email"
                    style="color: #000; border-color: #e3e3e3; border-radius: 4px; font-weight: 400"
                  />
                </div>
                <button data-element="submit" class="formkit-submit formkit-submit">
                  <div class="formkit-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <span>&nbsp; &nbsp;Subscribe&nbsp; &nbsp;</span>
                </button>
              </div>
              <div class="formkit-guarantee" data-element="guarantee">
                <p></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="layout-container-bottom">
      <hr />
      <footer>
        No ads. No Google tracking. 100% privacy.<br />
        Drop me a line on <a href="https://twitter.com/intent/user?screen_name=al3rez" target="_blank" rel="me">Twitter</a>,
        <a href="http://www.linkedin.com/comm/mynetwork/discovery-see-all?usecase=PEOPLE_FOLLOWS&amp;followMember=al3rez" target="_blank" rel="me">LinkedIn</a>,
        <a rel="me" href="https://noc.social/@al3rez" target="_blank">Mastodon</a>, or <a rel="me" href="https://www.threads.net/@al3rez" target="_blank">Threads</a>.<br />
        © 2023-2024 <a href="/alireza-bashiri/">Alireza Bashiri</a><br />
      </footer>
    </div>
  </div>
  <script defer="" async="" src="https://cdn.usefathom.com/script.js" data-site="USVAULRZ"></script>
  <script>
    function sayClipped(e, t) {
      navigator.clipboard.writeText(t);
      const n = document.getElementById("link-copied"),
        s = e.getBoundingClientRect(),
        i = document.getElementById("site-main").getBoundingClientRect(),
        a = 4 * 16;
      let r = s.bottom + 8,
        o = (s.left + s.right - a) / 2;
      (o = Math.min(Math.max(16, o), i.right - 16)),
        (n.style.top = r + "px"),
        (n.style.left = o + "px"),
        (n.style.visibility = "visible"),
        (n.style.opacity = 1),
        w.setTimeout(() => {
          (n.style.opacity = 0),
            w.setTimeout(() => {
              n.style.visibility = "hidden";
            }, 500);
        }, 3e3);
    }
    function afterPage() {
      var e = document.getElementsByClassName("longform");
      !e || e.length == 0 ? (e = null) : (e = e[0]);
      const t = document.querySelector("body");
      establishTheme(!0);
      function n(e) {
        if (!e.currentTarget.checked) return;
        let n = document.getElementById("nav-sidebar-src-container"),
          s = document.getElementById("nav-sidebar-duplicate-container"),
          t = n.cloneNode(!0);
        for (let e of t.children) e.classList.remove("card-no-sep");
        s.replaceChildren(...t.children), hookHeadings();
      }
      document.getElementById("nav-menu-checkbox").addEventListener("change", n);
      let s = document.getElementById("share-src");
      for (let t of document.getElementsByClassName("share-dst")) {
        let e = s.cloneNode(!0);
        e.removeAttribute("id"), t.replaceChildren(e);
      }
      document.querySelectorAll(".longform dt").forEach((e) => {
        const t = document.createElement("b");
        (t.innerHTML = e.innerHTML), (e.innerHTML = ""), e.appendChild(t);
      }),
        document.addEventListener("DOMContentLoaded", () => {
          e &&
            mm_has_mouse.matches &&
            document.querySelectorAll(".longform a.internal").forEach((n) => {
              const d = n.dataset.title,
                u = n.dataset.desc,
                l = n.dataset.imageSrc1,
                h = n.dataset.imageSrc2,
                s = document.createElement("div");
              s.classList.add("articlePreview"), t.appendChild(s);
              let o = null;
              if (l) {
                const e = document.createElement("div");
                e.classList.add("img"), s.appendChild(e), (o = document.createElement("img")), o.setAttribute("src", ""), o.setAttribute("alt", "Thumbnail"), e.appendChild(o);
              }
              const i = document.createElement("div");
              i.classList.add("txt"), s.appendChild(i);
              const a = document.createElement("div");
              (a.textContent = d), a.classList.add("title"), i.appendChild(a);
              const c = document.createElement("div");
              (c.textContent = u),
                c.classList.add("desc"),
                i.appendChild(c),
                n.addEventListener("mouseover", (t) => {
                  o ? (o.setAttribute("srcset", l + " 1x," + h + " 2x"), o.setAttribute("onload", 'fetch("' + n.href + '")')) : fetch(n.href);
                  const c = e.getBoundingClientRect(),
                    i = n.getBoundingClientRect();
                  s.style.display = "block";
                  const a = s.getBoundingClientRect(),
                    d = 16,
                    f = 36,
                    u = c.right,
                    m = c.left,
                    p = t.clientX - i.left,
                    g = i.right - t.clientX,
                    v = p <= g;
                  (r = { left: i.left, right: i.right, bottom: i.top - d }),
                    v ? (r.right = r.left + a.width) : (r.left = r.right - a.width),
                    (r.top = r.bottom - a.height),
                    r.top <= f && (r.top = i.bottom + d),
                    r.right >= u && (r.left = u - a.width),
                    r.left <= m && (r.left = m),
                    (s.style.left = r.left + "px"),
                    (s.style.top = r.top + "px");
                }),
                n.addEventListener("mouseout", () => {
                  s.style.display = "none";
                });
            });
        });
    }
    afterPage();
  </script>
  <script>
    window.addEventListener("load", function () {
      let e = document.createElement("link");
      (e.id = "ss-scssprintscss"),
        (e.type = "text/css"),
        (e.rel = "stylesheet"),
        (e.href = "/scss/print.min.7168ff02cf779028868cc78823a1ccc4fa2683ddda271a19f5d1360ffd5f07ac.css"),
        (e.media = "print"),
        document.getElementsByTagName("head")[0].appendChild(e);
    });
  </script>
  <noscript><link rel="stylesheet" href="/scss/print.min.7168ff02cf779028868cc78823a1ccc4fa2683ddda271a19f5d1360ffd5f07ac.css" media="print" /></noscript>
</body>
