@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --link-visited-color: #05b;
  --link-hover-color: #5ea7ff;
  --color-900: #000;
  --color-800: rgba(0, 0, 0, 0.8);
  --color-700: rgba(0, 0, 0, 0.6);
  --color-600: rgba(0, 0, 0, 0.45);
  --color-500: rgba(0, 0, 0, 0.4);
  --color-400: rgba(0, 0, 0, 0.23);
  --color-300: rgba(0, 0, 0, 0.15);
  --color-200: rgba(0, 0, 0, 0.1);
  --color-100: rgba(0, 0, 0, 0.04);
  --color-000: rgba(0, 0, 0, 0);
  --main-background: #fcfcff;
  --main-color: #000;
  --raised-background: #fff;
  --raised-color: #000;
  --form-background: #fff;
  --form-color: #000;
  --form-submit-background: #d43802;
  --form-submit-color: #fff;
  --button-background: #a2ea76;
  --button-color: #000;
  --error-border: #c00;
  --error-background: #fff0f0;
  --error-color: #000;
  --highlight-background: #ffffa0;
  --highlight-color: #000;
  --link-color: #05b;
  --link-button-background: #bee6f0;
  --link-button-color: #05b;
  --bear-color: #577544;
  --link-text-decoration: underline;
  --line-height-tight: 1.3;
  --border-radius: 0.5rem;
  --box-shadow: 0px 4px 4px -4px #000000c0, 0px 4px 4px 0px #00000040, 0px 1px 2px 2px #00000020;
  --filter-shadow: drop-shadow(1px 2px 1px #222);
  --filter-dark-mode: ;
  --filter-light-invert: brightness(0.7) contrast(1) invert(1) hue-rotate(180deg);
  --filter-dark-invert: ;
  --font-size-larger: 1.9rem;
  --line-height-larger: 1.3;
  --font-size-large: 1.4625rem;
  --line-height-large: 1.3;
  --font-size-normal: 1.125rem;
  --line-height-normal: 1.6;
  --font-size-small: 1rem;
  --line-height-small: 1.45;
  --font-size-smaller: 0.875rem;
  --line-height-smaller: 1.3;
  --font-weight-bold: 700;
  --letter-spacing-bold: 0;
}

h1,
h2,
h3 {
  clear: both;
}

main {
  font-family:
    charter,
    Georgia,
    Cambria,
    times new roman,
    Times,
    serif;
  letter-spacing: 0;
  line-height: 1.6;
  font-weight: 400;
}

.layout-two-column {
  grid-template-areas:
    "header header header header"
    "l top . r"
    "l content right r"
    "l bottom . r";
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, 45rem) 20rem minmax(1rem, 1fr);
}

.g-content {
  grid-area: content;
}

.g-header {
  box-shadow: var(--box-shadow);
  grid-area: header;
}

.g-left {
  grid-area: left;
  display: none;
  padding-right: 6rem;
}

ul.page-list .featured-image,
ul.page-list > li {
  transition-property: box-shadow, rotate, scale, translate, filter, color, background;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

@media (prefers-reduced-motion: reduce) {
  ul.page-list .featured-image,
  ul.page-list > li {
    transition-duration: 0s;
    animation-duration: 0s;
  }
}

ul.page-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 1.5rem;
  display: flex;
  gap: 1.5rem;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: stretch;
  cursor: pointer;
}

ul.page-list a {
  color: inherit;
  text-decoration: none;
}

ul.page-list > li {
  width: calc(50% - 0.75rem);
  box-shadow: var(--box-shadow);
  background: var(--color-100);
  overflow: clip;
}

@media (hover: hover) and (pointer: fine) {
  ul.page-list > li:hover {
    rotate: -1deg;
    scale: 105%;
    background: var(--raised-background);
    color: var(--raised-color);
    box-shadow:
      -1px 5px 3px -4px #00000080,
      -2px 6px 4px #00000040,
      -1px 2px 2px 2px #00000020;
  }

  ul.page-list > li:hover .featured-image {
    filter: saturate(120%) contrast(120%) !important;
  }
}

ul.page-list .featured-image {
  width: 100%;
  border-bottom: 1px solid var(--color-300);
}

ul.page-list .featured-image > picture > img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  object-fit: fit;
  display: block;
}

ul.page-list .text-container {
  padding: 0.5rem 0.75rem 1rem;
  color: var(--color-800);
  font-size: var(--font-size-smaller);
  line-height: var(--line-height-smaller);
  height: 100%;
}

ul.page-list .text-container > .title {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1ex;
}

ul.page-list .text-container > .summary > .date {
  white-space: nowrap;
}

#no-results {
  display: none;
  width: 100%;
  height: 10rem;
  padding: 3rem;
  text-align: center;
}

.search-area {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  display: flex;
  gap: 1rem 2rem;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.search-area span {
  white-space: nowrap;
}

.search-area > span.search > input {
  margin-left: 0.5rem;
  width: Min(20rem, calc(100vw - 4rem));
}

.search-area input,
.search-area button {
  border: 1px solid var(--color-400);
  padding: 0.5ex 0.75em;
  height: calc(2rem + 2px);
}

.search-area input {
  background: var(--form-background);
  color: var(--form-color);
  padding-left: 0.5em;
}

.search-area button {
  background: var(--button-background);
  color: var(--button-color);
  border-radius: 0.75ex;
  cursor: pointer;
  width: 6.5rem;
  text-align: center;
}

.search-area button:active {
  filter: brightness(120%);
}

.search-area .current {
  filter: brightness(120%);
  border: 2px solid var(--color-800);
  height: 2rem;
}

.search-area button.current {
  filter: brightness(120%);
}

.highlighted-search-term {
  background: var(--highlight-background);
  color: var(--highlight-color);
}

.g-right {
  grid-area: right;
  display: none;
  padding-left: 6rem;
}

header {
  font-family:
    helvetica neue,
    roboto,
    system-ui,
    segoe ui,
    helvetica neue,
    arial,
    sans-serif;
  letter-spacing: 0;
  line-height: 1.2;
  font-weight: 400;
}
