---
layout: default
---

<div class="biline">
  <div class="headerTabSpacer hidden-when-right-menu-visible">&nbsp;</div>
  <div class="author hidden-when-right-menu-visible">
    <a href="/alireza-bashiri/" rel="author">Alireza Bashiri</a>
  </div>
  <div class="published">{{page.date | date: "%B %d, %Y"}}</div>
  <div class="reading-time">Reading time: {{content | number_of_words | divided_by: 180 | ceil | append: " min"}}</div>
  <br />
</div>

<article class="h-entry item markdown">
  <h1 class="p-name article" id="article-title">{{page.title}}</h1>
  <div class="print-biline">by {{site.author}} on {{page.date | date: "%B %d, %Y"}}</div>
  <div class="e-content longform">{{content}}</div>
</article>
